{% extends 'main/base.html' %}
{% load static %}
{% block title %} Home-WC {% endblock %}
{% block extraCSS %} <link rel="stylesheet" href="{% static 'CSS/feed.css' %}"> {% endblock %}
{% block extraJS %} 
<script src="{% static 'js/feed.js' %}" defer></script>
{% endblock %}
{% block profile %} <li><a href="{% url 'profile' %}"> {{ user.user_name }} </a></li> {% endblock %}
{% block content %}

 <!-- Daily Prompt -->
    <div class="prompt-container" onclick="toggleCard()">
        <div class="card-header">
            Daily Prompt
        </div>
        <div class="card-content">
            <p>{{ daily_prompt }}</p>
        </div>
    </div>

<!-- Feed Container -->
<div class="feed-container">

        {% for story in stories %}
        <a href="{% url 'reader' story.id %}" class="story-card-link">
            <div class="story-card">
                <!-- Title -->
                <div class="story-title">
                    <h2>{{ story.storyTitle }}</h2>
                </div>

                <!-- Author -->
                <div class="story-author">
                    <span>{{ story.author }}</span>
                </div>
            </div>
        </a>


    {% empty %}
    <p>No stories to show yet. Start by writing your first story!</p>
    {% endfor %}
</div>

{% endblock %}
