{% extends 'main/base.html' %}
{% load static %}
{% block title %} Story Reader {% endblock %}
{% block extraCSS %} <link rel="stylesheet" href="{% static 'CSS/reader.css' %}"> {% endblock %}
{% block profile %} <li><a href="{% url 'profile' %}"> {{ user.user_name }} </a></li> {% endblock %}
{% block content %}

<div class="reader-container">
    <!-- Story Title -->
    <div class="story-title">
        <h1>{{ story.storyTitle }}</h1>
    </div>

    <!-- Story Author -->
    <div class="story-author">
        <p>By <strong>{{ story.author }}</strong></p>
    </div>

    <div>
        <p><em>Published on: {{ story.createdDate|date:"F j, Y" }}</em></p>

        {% if request.user == story.author %}
            <a class="edit-story" href="{% url 'edit-editor' story.id %}">Edit Story</a>
        {% endif %}
    </div>

    <!-- Story Content -->
    <div class="story-content">
        {% autoescape off %}
        {{ story.content | safe }}
        {% endautoescape %}
    </div>
</div>



{% endblock %}
